<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="IMS3ConnectionString" connectionString="Data Source=INSERT-DB-SERVER;Initial Catalog=IMS3;Persist Security Info=True;User ID=INSERT-DB-USER;Password=INSERT-DB-PASS"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!-- <httpRuntime targetFramework="4.0"/> jsc-mod-webdev didn't like this line -->
    <customErrors mode="Off"/> <!-- Added to enable showing errors -->
    <!-- added the following protocols to reach the service, since webdev didn't allow anything but SOAP by default... -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>